<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gesbulletin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/collegelogo"
        android:label="GES Bulletin"
        android:roundIcon="@drawable/collegelogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity
            android:name=".PdfAddActivity"
            android:exported="false" />
        <activity
            android:name=".PdfActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryAddActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherTimetableActivity"
            android:exported="false" />
        <activity
            android:name=".WebviewActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardteacherActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardstudentActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>